*
{
    margin: 0;
    padding: 0;
}
li{
    display: inline;
    
    cursor: pointer;
}
.header
{
    background-color: red;
    color: white;
    text-align: center;
    width: 100%;
    height: 90px;
    padding: 20px;
    border-color: black;
    border-width: 6px;
    border-style: dashed;
    margin: 5px;
}
ul{
    padding-top: 40px;
}
li:hover
{
    color: black;
}
img{
    width: 220px;
}

.box{
    text-align: center;
    border-color: blueviolet;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    width: 220px;
}
.two
{
    background-color: black;
    color: aliceblue;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    cursor: pointer;
    padding: 5px;
    
    
}
.two:hover
{
    color:pink;
}
.products
{
    text-align: center;
    margin-top: 70px;
    padding-right: 60px;
    margin-left: 20px;
}
p:hover
{
    color:red;
}
.contact
{
    text-align:center;
    margin-top: 50px;
    background-color: black;
    color: white;
    padding: 20px;
    border-color: red;
    border-width: 6px;
    border-style: dotted;
}
.one
{
    background-color: yellow;
    color: black;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    width: 400px;
    cursor: pointer;

}
.one:hover
{
    background-color: pink;
    
}
